* {
  color: aliceblue;
}
body {
  background-image: url("circle-scatter-haikei.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
}
.quiz-container {
  max-width: 800px;
  margin: auto;
}
.question {
  margin-bottom: 20px;
}

img {
  width: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
  font-weight: bold;
}
